
<button (click)="bold$.next(0)">Bold</button>
<button (click)="italic$.next(0)">Italic</button>
<button (click)="underline$.next(0)">Underline</button>

<input type="text" [(ngModel)]="fontSize" >

<input type="text" [(ngModel)]="fontName" >

<rooster-editor-box 

    style="width: 500px; height: 500px"

    [toggleBold$]="bold$" 
    (isBoldChange)="isBold = $event"
    [toggleUnderline$]="underline$" 
    [toggleItalic$]="italic$" 
    [(fontSize)]="fontSize" 
    [(fontName)]="fontName"

    [(ngModel)]="content"

    >

</rooster-editor-box>

<h1>IsBold: {{isBold}}</h1>

<div>
    {{content}}
</div>